<fieldset class="fieldset {{ fieldset.classes }}">
    <legend>
        {% if fieldset.name %}{{ fieldset.name }} {% endif %}
        {% if fieldset.description %}<span>{{ fieldset.description }}</span>{% endif %}
    </legend>

    {% for line in fieldset %}
        {% for field in line %}
            <div class="control-group{% if line.fields|length_is:'1' and line.errors %} error{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% if field.is_checkbox %}
                    <div class="controls">
                        <label class="checkbox" for="{{ field.field.field.widget.attrs.id|default:field.field.auto_id }}">
                            {{ field.field }} {{ field.field.label }}
                        </label>
                    </div>
                {% else %}
                    <label class="control-label{% if field.field.field.required %} required{% endif %}" for="{{ field.field.field.widget.attrs.id|default:field.field.auto_id }}">{{ field.field.label }}</label>

                    <div class="controls">
                         {% if field.is_readonly %}
                            <p>{{ field.contents|linebreaksbr }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}

                        {% if not field.is_readonly %}
                            {% for error in field.field.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% endif %}

                        {% if field.field.help_text %}
                            <p class="help-block">{{ field.field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</fieldset>
