include MANIFEST.in
include setup.py

recursive-include stratus/templates *
recursive-include stratus/static *
recursive-include stratus/contrib/blocks/templates *
recursive-include stratus/contrib/blocks/static *
