{% extends "stratus/base_site.html" %}
{% load i18n stratus_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "stratus/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if section_list %}
    {% for section in section_list %}
        <div class="module">
        <table summary="{% blocktrans with name=section.section.name %}Pages available in the {{ name }} section.{% endblocktrans %}">
        <caption><a href="{{ section.section.url }}" class="section">{% blocktrans with name=section.section.name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for page in section.pages %}
            <tr>
            {% if page.change_url %}
                <th scope="row"><a href="{{ page.change_url }}">{{ page.name }}</a></th>
            {% else %}
                <th scope="row">{{ page.name }}</th>
            {% endif %}

            {% if page.add_url %}
                <td><a href="{{ page.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if page.change_url %}
                <td><a href="{{ page.change_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}
