{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}

{% block subnav %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}
    <div class="page-header clearfix">
        <h3 class="pull-left">Edit: {{ original }}</h3>

        {% block object-tools %}
            {% if has_add_permission %}
            <div class="object-tools btn-group pull-right">
                {% block object-tools-items %}
                    <a class="btn" href="history/">{% trans "View change history" %}</a></li>
                    {% if has_absolute_url %}
                    <a class="btn" href="../../../r/{{ content_type_id }}/{{ object_id }}/">{% trans "View on site" %}</a>
                    {% endif%}
                {% endblock %}
            </div>
            {% endif %}
        {% endblock %}
    </div>

    <div id="changeform">
        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" class="form-horizontal">
            {% csrf_token %}

            {% block form_top %}{% endblock %}

            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}

            {% if save_on_top %}
                {% block submit_buttons_top %}{% submit_row %}{% endblock %}
            {% endif %}

            {% if errors %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</strong>
                    {{ adminform.form.non_field_errors }}
                </div>
            {% endif %}

            {% block field_sets %}
                {% for fieldset in adminform %}
                    {% include "admin/includes/fieldset.html" %}
                {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    {% include inline_admin_formset.opts.template %}
                {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% if adminform.first_field and add %}
                <script type="text/javascript">
                    document.getElementById("{{ adminform.first_field.id_for_label }}").focus();
                </script>
            {% endif %}

            {% prepopulated_fields_js %}
        </form>
    </div>
{% endblock %}
