{% extends "admin/change_list.html" %}
{% load admin_urls %}

{% block extrahead %}
    {{ block.super }}

    {% if cl.model_admin.ordering_field %}
    <script type="text/javascript">
        $(document).ready(function() {
            var orderingField = '{{ cl.model_admin.ordering_field }}';
            var orderingUrl = '{% url cl.opts|admin_urlname:"reorder" %}';
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            var header = $('thead th:contains(' + orderingField[0].toUpperCase() + ')');
            var orderColumnIndex = $('thead th').index(header);

            $($('body.change-list')).each(function() {
                $('div#changelist tbody', this).sortable({
                    items: 'tr',
                    containment: 'tbody',
                    update: function() {
                        var rows = $(this).find('tr');
                        var pks = $.makeArray(rows.map(function() { return $(this).data('pk'); }));
 
                        $.post(orderingUrl, {
                            csrfmiddlewaretoken: csrfToken,
                            pks: pks.join(','),
                        }, function(data) {
                            if (orderColumnIndex >= 0) {
                                rows.each(function() {
                                    var orderColumn = $($(this).find('th, td').get(orderColumnIndex));
                                    orderColumn.html(data[$(this).data('pk')]);
                                });
                            }
                        });
                    },

                    helper: function(e, tr) {
                        var originals = tr.children();
                        var helper = tr.clone();

                        helper.children().each(function(index) {
                            $(this).width(originals.eq(index).width());
                        });

                        return helper;
                      },
                });
            });
        });

    </script>
    {% endif %}

{% endblock %}
