{% load i18n admin_urls %}
<div class="submit-row clearfix">
     {% if show_delete_link %}
        <div class="pull-left">
            <a class="btn btn-danger" href="{% url opts|admin_urlname:'delete' original.pk|admin_urlquote %}">{% trans "Delete" %}</a>
        </div>
     {% endif %}

     {% if show_save or show_save_as_new or show_save_and_add_another or show_save_and_continue %}
        <div class="pull-right btn-group">
            {% if show_save %}
                <input class="btn" type="submit" value="{% trans 'Save' %}" name="_save" {{ onclick_attrib }}/>
            {% endif %}
            {% if show_save_as_new %}
                <input class="btn" type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>
            {%endif%}
            {% if show_save_and_add_another %}
                <input class="btn" type="submit" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }}/>
            {% endif %}
            {% if show_save_and_continue %}
                <input class="btn" type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>
            {% endif %}
        </div>
     {% endif %}
</div>
