#changelist-form  .orderable-handle {
    width: 20px;
}

#changelist-form  .orderable-handle span {
    display: block;
}

#changelist-form  .orderable-updated {
    background: #ffffee;
}

#changelist-form .ui-sortable-helper {
    background: #ffffee;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}
