body {
    background: #ecf1ef;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

.navbar .brand {
    color: #fff;
    padding: 8px 20px 12px;
}

body > .container {
    background: #fff;
    padding: 20px;
}
